/*********** HEADER ************/ 
  
.page-head {
  top: -1px;
  background-color: $main-light; 
  color: $text-main-dark;
  border-bottom: 1px solid $header-border;

  @media screen and (min-width: 1200px) {
    position: sticky;
    z-index: 2;
    // padding: 0;
  }
}

.head-container {
  display: flex;
  // align-items: center;
  align-items: baseline;
}
  
.contacts {
  
  @media screen and (max-width: 1199px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  &__icon {
    margin-left: 30px;
    margin-right: 10px;
    fill: currentColor;
  }
  
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    color: $text-sub;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    outline: none;
    transition: color $time-duration $timing-function;
    
    &:visited {
      color: $text-sub;
    }
    
    &:hover {
      color: $text-accent;
      transition: color $time-duration $timing-function;
    }
  
    &:focus {
      color: $text-accent;
      transition: color $time-duration $timing-function;
    } 
  } 
}