/*********** HEADER ************/ 
  
.page-head {
  top: -1px;
  background-color: $main-light; 
  color: $text-main-dark;
  border-bottom: 1px solid $header-border;

  @media screen and (min-width: 1200px) {
    position: sticky;
    z-index: 2;
  }
}

.head-container {
  display: flex;
  align-items: baseline;
}
  
.contacts {
  display: none;
  // @media screen and (max-width: 767px) {   
    
  // }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: block;
    text-align: left;
    margin: 21px 0 auto auto;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  
  &__item {
    margin-bottom: 10px;
  }

  &__item :not(:last-child) {
    margin-bottom: 0;
  }
  

  &__icon {
    margin-left: 30px;
    margin-right: 10px;
    fill: currentColor;
  }
  
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    color: $text-sub;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    outline: none;
    transition: color $time-duration $timing-function;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      justify-content: flex-start;
      white-space: wrap;
      font-size: 12px;
      line-height: 14px;
    }

    &:visited {
      color: $text-sub;
    }
    
    &:hover {
      color: $text-accent;
      transition: color $time-duration $timing-function;
    }
  
    &:focus {
      color: $text-accent;
      transition: color $time-duration $timing-function;
    } 
  } 
}