.social-net {
  display: flex;
  padding: 0;
}
  
.social-net :not(:first-child) {
  margin-left: 10px;
}
  
.social-net__item {
  color: $icon; 
  transition: color $time-duration $timing-function;

  & :visited {
    color: $icon; 
  } 
  
  & :hover, 
  & :focus {
    border-radius: 50%;
    fill: $main-light;
    background-color: $text-accent;
    outline: none;
    transition: background-color $time-duration $timing-function, fill $time-duration $timing-function;
  }
}
 
.social-net__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: currentColor;
  color: currentColor;
  border-radius: 50%;
  transition: background-color $time-duration $timing-function, fill $time-duration $timing-function;

  & :hover, 
  & :focus {
    border-radius: 0;
    background-color: rgb(33,150,243);
    transition: background-color $time-duration $timing-function, fill $time-duration $timing-function;
  }
}
 
.social-net__icon {
  border-color: none;
}