.team {
  background-color: $background-light;
  
  @media screen and (max-width: 1199px) {
    padding: 60px 0;
  }

  @media screen and (min-width: 1200px) {
    padding: 94px  0;
  }
}

.team__list {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * #{$card-set-gap});
    margin-left: calc(-1 * #{$card-set-gap});
  }
}

.team__list :last-child {
  margin-right: 0;
}
 
.team__item {
  width: 100%;
  background-color: $main-light; 
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (max-width: 767px) {
    margin: 0 0 30px 0;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc(100% / 2 - #{$card-set-gap});
    margin-top: $card-set-gap;
    margin-left: $card-set-gap;
  }

  @media screen and (min-width: 1200px) {
    margin: 0 30px 0 0;
  }
}
  
.team__photo {
  
  @media screen and (max-width: 479px) {
    width: 100%;
  }

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.team__image {
  width: 100%;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    object-fit: cover;
    height: 374px;
  }
}
 
.team__meta {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;

  @media screen and (max-width: 479px) {
    padding: 30px auto 24px;
    text-align: center;
  }

  @media screen and (max-width: 767px) {
    padding: 30px 122px 24px;
  }

  @media screen and (max-width: 1199px) {
    padding: 30px 74px 24px;
  }

  @media screen and (min-width: 1200px) {
    padding: 30px 32px;
  }
}
  
.team__name {
  font-weight: 500;
  margin-bottom: 10px;  
}
  
.team__position {
  color: $text-sub; 
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}