.decision {
  padding: 94px 0;
}

.decision__title {
  display: none;
  visibility: hidden;
}

.decision__list {
  display: flex;
  align-items: center;
}

.decision__item {
  margin-right: 30px;
}

.decision__card {
  margin: 0;
}

.decision__icon-box {
  display: flex;
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin: 0 0 30px 0;
  background-color: $background-light;
  fill: text-main-dark;
}

.decision__description {
  margin: 0;
}
 
.decision__description-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}

.decision__description-text {
  display: block;
  width: 270px;
  color: $text-sub;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin: 0;
  text-transform: none;
}