.filters {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 0 50px 0;
}
  
.filters :not(:last-child){
  margin-right: 8px;
}
  
.filters__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center; 
  letter-spacing: 0.03em;
  background-color: $background-light;
  padding: 6px 22px;
  border: 1px solid $background-light;
  border-radius: 4px;
  transition: color $time-duration $timing-function, background-color $time-duration $timing-function, border $time-duration $timing-function;

  &:focus {
    color: $main-light;
    background-color: $text-accent;
    outline: none;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border: 1px solid $text-accent;
    transition: color $time-duration $timing-function, box-shadow $time-duration $timing-function, background-color $time-duration $timing-function, border $time-duration $timing-function;
  }
  
  &:hover {
    color: $main-light;
    background-color: $text-accent;
    outline: none;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border: 1px solid $text-accent;
    transition: color $time-duration $timing-function, box-shadow $time-duration $timing-function, background-color $time-duration $timing-function, border $time-duration $timing-function;
  }
}