/*********** FOOTER ************/
  
.footer-section {
  background-color: $background-dark;
  color: $main-light;
  line-height: 24px;
  letter-spacing: 0.03em;
  padding: 60px 0;
}
   
.footer__container {
  display: flex;
  align-items: baseline;
}
    
// .footer__div {
//   margin-bottom: auto;
// }
  
.footer__topic {
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}
  
.footer-contacts {
  margin-right: 70px;
}
  
.footer-contacts__logo {
  color: $main-light;
}
    
.footer-contacts__list {
  margin: 0;
  display: flex;
  flex-direction: column;
}
    
.footer-contacts__item {
  margin-top: 9px;
}
    
.footer-contacts__link {
  color: $text-accent-transparent;
  outline: none;
  line-height: 24px;
  letter-spacing: 0.03em;
  transition: color $time-duration $timing-function;
  
  &:visited {
    color: $text-accent-transparent;
  }
      
  &:hover {
    color: $text-accent;
    transition: color $time-duration $timing-function;
  }
    
  &:focus {
    color: $text-accent;
    transition: color $time-duration $timing-function;
  }
}
    
.footer-social {
  margin-right: 93px;
}
    
.footer-social__item {
  fill: $main-light;
  background-color: $footer-social-links;
  border-radius: 50%;
  outline: none;

  &:visited {
    fill: $main-light;
    background-color: $footer-social-links;
  }
      
  &:hover, 
  &:focus{
    background-color: $text-accent;
    border-radius: 50%;
    outline: none;
    transition: background-color $time-duration $timing-function;
  }
}
     
.footer-social__item .social-net__link :visited {
  fill: $main-light;
}
    
.footer-signup {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
    
.footer-signup__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: $text-accent-transparent;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  background-color: $background-dark;
  margin-right: 12px;
}
    
.footer-signup__button {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: currentColor;
  background-color: $text-accent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: currentColor;
}
    
.footer-signup__icon {
  margin-left: 10px;
  fill: currentColor; 
}