.team {
  background-color: $background-light;
  padding: 94px 0;
}
  
.team__list {
  display: flex;
  align-items: center;
}
  
.team__list :last-child {
  margin-right: 0;
}
  
.team__item {
  margin: 0 30px 0 0;
  background-color: $main-light; 
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
  
.team__photo {
  width: 270px;
}
  
.team__meta {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  padding: 30px 32px;
}
  
.team__name {
  font-weight: 500;
  margin-bottom: 10px;  
}
  
.team__position {
  color: $text-sub; 
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}