* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  padding-left: 0px;
}

address p {
  margin: 20px 0 0 0;
}

textarea {
  resize: none;
}