$text-main-dark: #212121;
$main-light: #FFFFFF;
$text-sub: #757575;
$text-accent: #2196F3;
$text-accent-transparent: rgba(255, 255, 255, 0.6);
$background-dark: #2F303A;
$background-light: #F5F4FA;
$header-border: #ECECEC;
$project-border: #EEEEEE;
$card-set-gap: 30px;
$icon: #AFB1B8;
$footer-social-links: rgba(255, 255, 255, 0.1);
$time-duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$signup-form-button: #188CE8;